//green
$green-estatic: #30E600;
$green-lime: #52d031;
$green-apple: #2DDA00;
$green-pepper: #29A10A;

// blue
$blue-estatic: #01ECF7;
$blue-stormy: #013335;
$blue-night: #062425;

//yellow
$yellow-gatorade: #C8FE00;

//gray
$gray-smoke: #f0f8f9;
