//green
$green-light-mint: #f6fff6;
$green-estatic: #2dd075;
$green-teal: #23bb59;
$green-pepper: #29A10A;
$green-zuchinni: #20422c;

// blue
$blue-sky: #e5faff;
$blue-estatic: #00cdd6;
$blue-dark-highlight: #025d61;
$blue-stormy: #08858a;
$blue-night: #013335;


//yellow
$yellow-custard: #fcfdd8;
$yellow-gatorade: #fbff02;
$yellow-something: #f6f941;
$yellow-dijon-mustard: #e1e40a;
$yellow-mustard: #b4b701;

//orange
$orange: #e2be3b;

//gray
$gray-smoke: #f0f8f9;
$gray-cloud: #f7f6f6;
