//green
$green-estatic: #30E600;
$green-lime: #52d031;
$green-apple: #2DDA00;
$green-pepper: #29A10A;
$green-light-mint: #f6fff6;
$green-teal: #23bb59;
$green-zuchinni: #20422c;

// blue
$blue-estatic: #01ECF7;
$blue-stormy: #013335;
$blue-night: #062425;
$blue-dark-highlight: #025d61;
$blue-sky: #01b4de;

//yellow
$yellow-gatorade: #C8FE00;
$yellow-light-mustard: #fffff6;
$yellow-dijon-mustard: #b3c707;
$yellow-mustard: #b4b701;

//gray
$gray-smoke: #f0f8f9;
$gray-cloud: #f7f6f6;
