@import "colours.scss";

.label{
  display: inline-block;
}

.label-default{
  background-color: $blue-estatic;
}

.label-default-dark{
  background-color: $blue-stormy;
}

.label-tertiary{
  background-color: $yellow-dijon-mustard;
}
