@import "colours.scss";

body{

}

#customStyle{

  p{
    font-size: 1.25em;
    font-weight: 200;
    color: gray;
  }

  .navbar{
    background-color: white;
    border-bottom-width: 1px;
    border-color: lightgray;

    &.navbar a{
      color: $blue-dark-highlight;
    }

    & li.active > a{
      background-color: $blue-dark-highlight;
      color: white;
    }

    &.navbar .navbar-right a{
      color: $blue-dark-highlight;
    }
  }

  h1{
    color: $blue-dark-highlight;
    font-weight: 400;
  }

  h2{
    font-weight: 200;
    color: white;
  }

  h2 > small{
    color: $green-pepper;
  }

  .panel{
    border-radius: 1px;
    border-color: lightgray;

    .panel-heading{
      background-color: whitesmoke;
      border-color: darkgray;
      border-width: 2px;
      color: gray;
    }
  }

  .panel-primary{
    box-shadow: 2px 2px 2px whitesmoke;

    .panel-heading{
      border-color: $blue-stormy;
      color: $blue-stormy;
    }

  }

  .panel-secondary{
    border-color: $green-pepper;

    h2 > small{
      color: $green-pepper;
    }

    .panel-heading{
    }

    .label-default{
      background-color: $green-pepper;
    }

    .btn-success, .btn-secondary{
      background-color: white;
      color: $green-teal;

      &:hover{
        background-color: $green-teal;
        color: white;
      }
    }
  }

  .panel-tertiary{
    border-color: $yellow-dijon-mustard;

    h2 > small{
      color: $yellow-mustard;
    }
  }

  .label-default{
    background-color: $blue-estatic;
  }

  .label-default-dark{
    background-color: $blue-stormy;
  }

  #interactiveStart{
    background-color: $blue-night;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow-y: auto;

    & h1{
      color: $blue-estatic;
      font-weight: lighter;
    }

    & h2{
      color: white;
    }

    & .btn-success{
      background-color: $green-teal;
    }

    &:hover{

    }

    a:visited, a:hover, a:focus, a:active{
      text-decoration: none;
    }

    .panel:hover, .panel:focus, .panel:active{
      background-color: $gray-cloud;
    }

    #closeDialog{
      font-size: 1.5em;
      text-decoration: none;
      color: lightgray;
      font-weight: lighter;

      &:hover{
        color: white;
      }
    }

    input{

      &:hover{
        border: 2px solid $blue-estatic;
      }
    }

  }

  .closeDialog{
    positon: absolute;
    top: 5px;
    right: 5px;
  }

  .btn-primary{
    background-color: $blue-stormy;
    color: $blue-estatic;
  }

  .name{
    color: $blue-estatic;
  }

  article{
    padding-top: 30px;

    &:first-of-type{
      padding-top: 50px;
    }
  }

  footer{
    margin: 0px;
    background-color: $gray-smoke;
  }

  .btn-success{
    background-color: $green-estatic;
    color: white;
  }

  .btn-success-dark{
    background-color: #48c173;
    color: white;
  }

  .btn-success-outline{
    background: none;
    color: $green-estatic;
    border: 1px solid gray;

    &:hover{
      border-color: $green-teal;
    }

    &.active{
      background-color: $green-estatic;
      color: white;
    }
  }

  .btn-info{
    border-color: gray;
    color: $blue-stormy;
    background: none;

    &:hover{
      border-color: $blue-stormy;
    }

    &.active{
      background-color: $blue-stormy;
      color: white;
    }
  }

  .btn-warning, .btn-tertiary{
    border-color: $yellow-dijon-mustard;
    color: $yellow-mustard;
    background-color: white;

    &:hover{
      background-color: $yellow-dijon-mustard;
      color: white;
    }
  }

  .label-tertiary{
    background-color: $yellow-dijon-mustard;
  }

  #project-description{
    article {
      padding-top: 20px;
    }

    footer {
      background: none;
    }

    h2 > p{ color: $blue-dark-highlight;}
    h3 {
      font-weight: 100;
    }
  }

  .bannerImage{
    background-color: #032829;
    margin-bottom: 30px;
    color: lightgray;

    img{
      padding:0px;
      opacity: 0.7;
    }

    p{
      color: #a2a2a2;
    }
  }

  .carousel-selection{
    cursor: pointer;
    border-radius: 0px;
    background: none;
    border-width: 1px;

    &.active{
      background-color: #48696b;
      color: white;
    }

    &:hover{
      border-color: $blue-stormy;
    }
  }

  #map{
    height:400px;
  }
}
