p {
  font-size: 1.25em;
  font-weight: 200;
  color: gray; }

h1 {
  color: #025d61;
  font-weight: 400; }

h2 {
  font-weight: 200;
  color: white; }

h2 > small {
  color: #29A10A; }

.col-title {
  color: #08858a; }

small.primary {
  color: #2dd075; }
small.secondary {
  color: #e1e40a; }
small.tertiary {
  color: #e2be3b; }
small.quartenary {
  color: #00cdd6; }

.panel {
  border: none; }
  .panel .panel-heading {
    background-color: white;
    border-bottom-color: lightgray;
    border-width: 1px;
    color: #08858a; }

.panel-primary {
  box-shadow: 2px 2px 2px whitesmoke; }
  .panel-primary .panel-heading {
    border-color: #08858a;
    color: white;
    background-color: #08858a; }
  .panel-primary:hover {
    box-shadow: 2px 2px 2px #ADCED6; }

.panel-secondary {
  box-shadow: 2px 2px 2px whitesmoke; }
  .panel-secondary .panel-heading {
    border-color: #29A10A;
    color: #29A10A; }
  .panel-secondary:hover {
    box-shadow: 2px 2px 2px #9AB393; }
  .panel-secondary .label-default {
    background-color: #29A10A; }
  .panel-secondary .btn-success, .panel-secondary .btn-secondary {
    background-color: white;
    color: #23bb59; }
    .panel-secondary .btn-success:hover, .panel-secondary .btn-secondary:hover {
      background-color: #23bb59;
      color: white; }

.panel-tertiary {
  border-color: #e1e40a; }
  .panel-tertiary h2 > small {
    color: #b4b701; }

.label {
  display: inline-block; }

.label-default {
  background-color: #00cdd6; }

.label-primary, .label-first {
  background-color: #2dd075; }

.label-secondary, .label-second {
  background-color: #e1e40a;
  color: #7a7b15; }

.label-tertiary, .label-third {
  background-color: #e2be3b; }

.label-quartenary, .label-fourth {
  background-color: #00cdd6; }

.label-default-dark {
  background-color: #08858a; }

.btn-primary, .open {
  background: none;
  color: #08858a;
  border: 1px solid gray; }
  .btn-primary:hover, .open:hover {
    border-color: #08858a;
    color: #08858a;
    background: none; }
  .btn-primary.active, .open.active {
    background-color: #08858a;
    color: white; }

.btn-success {
  background-color: #2dd075;
  color: white; }

.btn-success-dark {
  background-color: #48c173;
  color: white; }

.btn-success-outline {
  background: none;
  color: #2dd075;
  border: 1px solid gray; }
  .btn-success-outline:hover {
    border-color: #23bb59; }
  .btn-success-outline.active {
    background-color: #2dd075;
    color: white; }

.btn-info {
  border-color: gray;
  color: #08858a;
  background: none; }
  .btn-info:hover {
    border-color: #08858a; }
  .btn-info.active {
    background-color: #08858a;
    color: white; }

.btn-warning, .btn-tertiary {
  border-color: #e1e40a;
  color: #7a7b15;
  background-color: #e1e40a; }
  .btn-warning:hover, .btn-tertiary:hover {
    background-color: #e1e40a;
    color: black; }

.navbar-collapse.in {
  overflow-y: inherit; }

.menu-button-group {
  display: inline-block;
  background-color: #f0f8f9;
  padding-right: 10px; }
  .menu-button-group > .navbar-nav {
    display: inherit; }

.well {
  background: none;
  border-color: lightgray; }

.well-primary {
  background: none;
  border-color: #ADCED6; }

.well-secondary {
  background: none;
  border-color: #9AB393; }

#customStyle .fa-github:hover {
  color: #2dd075; }
#customStyle .fa-linkedin:hover {
  color: #e1e40a; }
#customStyle .fa-briefcase:hover {
  color: #e2be3b; }
#customStyle .fa-twitter:hover {
  color: #00cdd6; }
#customStyle body {
  position: relative; }
#customStyle .navbar {
  background-color: white;
  border-bottom-width: 1px;
  border-color: lightgray; }
  #customStyle .navbar.navbar a {
    color: #08858a; }
  #customStyle .navbar li.active > a {
    background-color: #08858a;
    color: white; }
  #customStyle .navbar.navbar .navbar-right a {
    color: #08858a; }
#customStyle #interactiveStart {
  background-color: #013335;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow-y: auto; }
  #customStyle #interactiveStart h1 {
    color: #00cdd6;
    font-weight: lighter; }
  #customStyle #interactiveStart h2 {
    color: white; }
  #customStyle #interactiveStart .btn-success {
    background-color: #23bb59; }
  #customStyle #interactiveStart a:visited, #customStyle #interactiveStart a:hover, #customStyle #interactiveStart a:focus, #customStyle #interactiveStart a:active {
    text-decoration: none; }
  #customStyle #interactiveStart .panel:hover, #customStyle #interactiveStart .panel:focus, #customStyle #interactiveStart .panel:active {
    background-color: #f7f6f6; }
  #customStyle #interactiveStart #closeDialog {
    font-size: 1.5em;
    text-decoration: none;
    color: lightgray;
    font-weight: lighter; }
    #customStyle #interactiveStart #closeDialog:hover {
      color: white; }
  #customStyle #interactiveStart input:hover {
    border: 2px solid #00cdd6; }
#customStyle .closeDialog {
  positon: absolute;
  top: 5px;
  right: 5px; }
#customStyle .name {
  color: #00cdd6; }
#customStyle article {
  padding-top: 30px; }
  #customStyle article:first-of-type {
    padding-top: 50px; }
#customStyle footer {
  margin: 0px;
  background-color: #025d61;
  color: white; }
  #customStyle footer p {
    color: inherit; }
  #customStyle footer .btn-round-3x {
    display: inline-block;
    padding-top: 0.5em;
    width: 4.5em;
    height: 4.5em;
    background-color: white;
    border-radius: 50%;
    border: 0.2em solid white; }
  #customStyle footer #contact-github > a {
    color: #2dd075; }
  #customStyle footer #contact-github:hover {
    border-color: #2dd075; }
  #customStyle footer #contact-linkedin > a {
    color: #e1e40a; }
  #customStyle footer #contact-linkedin:hover {
    border-color: #e1e40a; }
  #customStyle footer #contact-resume > a {
    color: #e2be3b; }
  #customStyle footer #contact-resume:hover {
    border-color: #e2be3b; }
  #customStyle footer #contact-twitter > a {
    color: #00cdd6; }
  #customStyle footer #contact-twitter:hover {
    border-color: #00cdd6; }
#customStyle #project-description article {
  padding-top: 20px; }
#customStyle #project-description footer {
  background: none; }
#customStyle #project-description h2 > p {
  color: #025d61; }
#customStyle #project-description h3 {
  font-weight: 100; }
#customStyle #project-description .project-image {
  width: 80%; }
#customStyle #project-description .btn-group.open {
  border: none; }
#customStyle #project-description .dropdown-menu .project-dropdown-menu {
  border-bottom: 1px solid lightgray;
  max-height: 250px;
  overflow-y: scroll; }
#customStyle .bannerImage {
  background-color: #104344;
  margin-bottom: 30px;
  color: lightgray; }
  #customStyle .bannerImage img {
    padding: 0px;
    opacity: 0.7; }
  #customStyle .bannerImage p {
    color: #c6e7e8; }
#customStyle .carousel-selection {
  cursor: pointer;
  border-radius: 0px;
  background: none;
  border-width: 1px; }
  #customStyle .carousel-selection.active, #customStyle .carousel-selection:focus {
    background-color: #48696b;
    color: white; }
  #customStyle .carousel-selection:hover {
    border-color: #08858a; }
#customStyle #map {
  height: 400px; }

/*# sourceMappingURL=main.css.map */
