#customStyle p {
  font-size: 1.25em;
  font-weight: 200;
  color: gray; }
#customStyle .navbar {
  background-color: #013335; }
  #customStyle .navbar.navbar a {
    color: #00cdd6; }
  #customStyle .navbar li.active > a {
    background-color: #025d61;
    color: white; }
  #customStyle .navbar.navbar .navbar-right a {
    color: #fbff02; }
#customStyle h1 {
  color: #025d61;
  font-weight: 400; }
#customStyle h2 {
  font-weight: 200; }
#customStyle h2 > small {
  color: #29A10A; }
#customStyle .panel-secondary {
  border-color: #29A10A; }
  #customStyle .panel-secondary h2 > small {
    color: #29A10A; }
  #customStyle .panel-secondary .label-default {
    background-color: #29A10A; }
  #customStyle .panel-secondary .btn-success, #customStyle .panel-secondary .btn-secondary {
    background-color: white;
    color: #23bb59; }
    #customStyle .panel-secondary .btn-success:hover, #customStyle .panel-secondary .btn-secondary:hover {
      background-color: #23bb59;
      color: white; }
#customStyle .panel-tertiary {
  border-color: #e1e40a; }
  #customStyle .panel-tertiary h2 > small {
    color: #b4b701; }
#customStyle .label-default {
  background-color: #00cdd6; }
#customStyle #interactiveStart {
  background-color: #013335;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow-y: auto; }
  #customStyle #interactiveStart h1 {
    color: #00cdd6;
    font-weight: lighter; }
  #customStyle #interactiveStart h2 {
    color: white; }
  #customStyle #interactiveStart .btn-success {
    background-color: #23bb59; }
  #customStyle #interactiveStart a:visited, #customStyle #interactiveStart a:hover, #customStyle #interactiveStart a:focus, #customStyle #interactiveStart a:active {
    text-decoration: none; }
  #customStyle #interactiveStart .panel:hover, #customStyle #interactiveStart .panel:focus, #customStyle #interactiveStart .panel:active {
    background-color: #f7f6f6; }
  #customStyle #interactiveStart #closeDialog {
    font-size: 1.5em;
    text-decoration: none;
    color: lightgray;
    font-weight: lighter; }
    #customStyle #interactiveStart #closeDialog:hover {
      color: white; }
  #customStyle #interactiveStart input:hover {
    border: 2px solid #00cdd6; }
#customStyle .closeDialog {
  positon: absolute;
  top: 5px;
  right: 5px; }
#customStyle .btn-primary {
  background-color: #06b0b7;
  color: #00cdd6; }
#customStyle .name {
  color: #00cdd6; }
#customStyle article {
  padding-top: 75px; }
#customStyle footer {
  margin: 0px;
  background-color: #f0f8f9; }
#customStyle .btn-info {
  border-color: #013335;
  color: #025d61;
  background-color: white; }
  #customStyle .btn-info:hover {
    background-color: #025d61;
    color: white; }
#customStyle .btn-warning, #customStyle .btn-tertiary {
  border-color: #e1e40a;
  color: #b4b701;
  background-color: white; }
  #customStyle .btn-warning:hover, #customStyle .btn-tertiary:hover {
    background-color: #e1e40a;
    color: white; }
#customStyle .label-tertiary {
  background-color: #e1e40a; }
#customStyle #project-description article {
  padding-top: 20px; }
#customStyle #project-description footer {
  background: none; }
#customStyle #project-description h2 > p {
  color: #b4b701; }
#customStyle .bannerImage {
  background-color: black;
  color: lightgray; }
  #customStyle .bannerImage img {
    padding: 0px;
    opacity: 0.7; }
#customStyle #map {
  height: 400px; }

/*# sourceMappingURL=main.css.map */
