@import "colours.scss";

body{

}

#customStyle{

  .navbar{
    background-color: $blue-stormy;

    &.navbar a{
      color: $blue-estatic;
    }

    & li.active > a{
      background-color: $blue-dark-highlight;
      color: white;
    }

    &.navbar .navbar-right a{
      color: $yellow-gatorade;
    }
  }

  h1{
    color: $blue-dark-highlight;
  }

  h2 > small{
    color: $green-pepper;
  }

  .panel-default{
    border-color: $green-pepper;
    background-color: $green-light-mint;

    .label-default{
      background-color: $green-teal;
    }

    .btn-success{
      background-color: $green-zuchinni;
      color: $green-estatic;
    }
  }

  .label-default{
    background-color: $blue-sky;
  }

  #interactiveStart{
    background-color: $blue-stormy;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;

    & h1{
      color: $blue-estatic;
      font-weight: lighter;
    }

    & .btn-success{
      background-color: $green-teal;
    }
  }

  .closeDialog{
    positon: absolute;
    top: 5px;
    right: 5px;
  }

  .btn-primary{
    background-color: $blue-stormy;
    color: $blue-estatic;
  }

  .name{
    color: $green-pepper;
  }

  article{
    padding-top: 75px;
  }

  footer{
    margin: 0px;
    background-color: $gray-smoke;
  }

}
