@import "colours.scss";

  .panel{
    border: none;

    .panel-heading{
      background-color: white;
      border-bottom-color: lightgray;
      border-width: 1px;
      color: $blue-stormy;
    }
  }

  .panel-primary{
    box-shadow: 2px 2px 2px whitesmoke;

    .panel-heading{
      border-color: $blue-stormy;
      color: white;
      background-color: $blue-stormy;
    }

    &:hover{
      box-shadow: 2px 2px 2px $blue-grayish;
    }

  }

  .panel-secondary{
    box-shadow: 2px 2px 2px whitesmoke;

    .panel-heading{
      border-color: $green-pepper;
      color: $green-pepper;
    }

    &:hover{
      box-shadow: 2px 2px 2px $green-grayish;
    }

    .label-default{
      background-color: $green-pepper;
    }

    .btn-success, .btn-secondary{
      background-color: white;
      color: $green-teal;

      &:hover{
        background-color: $green-teal;
        color: white;
      }
    }
  }

  .panel-tertiary{
    border-color: $yellow-dijon-mustard;

    h2 > small{
      color: $yellow-mustard;
    }
  }
